<div class="row mt-5 ">
    <div class="offset-md-3 col-6 col-md-5 bg-secondary">
        <form class="mt-5 mb-5" [formGroup]="postForm" (ngSubmit)="submitpost()">
            <div class="form-group">
                <input class="form-control" formControlName="title" name="titre" type="text" placeholder="Titre">
                <div *ngIf="submited && postForm.controls.title.hasError('required')">
                    <div class="text-danger">le titre est obligatoire</div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" formControlName="description" type="text" placeholder="Description"
                    rows="3"></textarea>
                <div class="text-danger">
                    <div *ngIf="submited && postForm.controls.description.hasError('required')">la description est
                        obligatoire</div>
                    <div *ngIf="submited && postForm.controls.description.hasError('minLength')">saisiessez une
                        description au moins 5 lettres</div>
                </div>
            </div>
            <div class="form-group">
                <select id="cat" class="form-control" formControlName="cat">
                    <option selected disabled>Categorie</option>
                    <option>Sport</option>
                    <option>Technologies</option>
                    <option>Economie</option>
                    <option>Société</option>
                </select>
                <div *ngIf="submited && postForm.controls.cat.hasError('required')">
                    <div class="text-danger">le titre est obligatoire</div>
                </div>
            </div>
            <p>{{currentDate | date:'yyyy-MM-dd'}}</p>
            <div>
                <button type="submit" class="btn btn-success btn-block">Ajouter</button>
            </div>
            <div>
                <a class="btn btn-danger btn-block  mt-2" routerLink="/posts">Retour</a>
            </div>
        </form>
    </div>

</div>